* {
    font: 20px;
    font-family: "Times New Roman";
    line-height: 1.5;
}

h1 {
    letter-spacing: 2px;
    margin-top:70px;
}

h4 {
    color: #006EB6; 
    letter-spacing: 2px; 
    border-bottom-style: solid;
    border-bottom-width: .1px;
    border-color: #006EB6; 
    margin-bottom: 40px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

header {
    text-transform: uppercase;
    text-align: center;
    
}

.logo {
    width: 150px;
    margin-top: 30px;
}

footer {
    text-align: center;
}

li {
    margin: 15px;
}